<div class="main">
  <div class="upper-div row d-flex justify-content-center pt-5">
    <div class="justify-content-center">
      <p class="text-center testimonial">Testimonial</p>
      <p class="text-center wcs pt-2">What Client Says?</p>
      <div class="d-flex justify-content-center pt-5">
        <div class="dummy-div">
          <p class="text-center dummy">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry printing and typesetting industry 
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="lower-div">
    <div class="row m-5">
      <div class="col-lg-4 a" *ngFor="let a of arr">
        <mat-card class="mat-card">
          <div class="format_quote">
            <mat-icon class="mat-icon">format_quote</mat-icon>
          </div>
          <mat-card-content>
            <p class="text-center quote">{{ a.quote }}</p>
            <div class="d-flex justify-content-center mt-3">
              <img class="rounded-circle img-div" src="{{ a.image }}" alt="img">
            </div>
            <p class="text-center pt-4 name">{{ a.name }}</p>
            <p class="text-center name adj">{{ a.adj }}</p>
          </mat-card-content>
        </mat-card>  
      </div>
    </div>
  </div>
</div>


